/* .detail__item {
  padding-top: 20px;
  text-align: center; }
  .detail__item img {
    padding: 10px; }
  .detail__item .item__title {
    font-size: var(--size-font-big); }
  .detail__item .item__genre, .detail__item .item__link {
    font-size: var(--size-font-regular); } */
.detail__container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 30px 0px 15px 0px; }

.detail__item {
  padding: 125px 50px 125px 50px;
  background-color: white;
  border-radius: 15px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-height: 1000px; */ }

.detail__item__title, .detail__item__genre, .detail__item__summary {
  font-family: 'Jua', cursive;
  color: var(--color-font); }

.detail__item__title {
  font-size: var(--size-font-big); }

.detail__item__genre {
  font-size: var(--size-font-regular); }

.detail__item__summary {
  font-size: var(--size-font-small); }
