#to-top {
  width: 42px;
  height: 42px;
  background-color: #a770ef;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: 0;
  top: 70px;
  right: 30px;
  z-index: 9;
}

#search__Input {
  height: 42px;
  background-color: #a770ef;
  border-radius: 10px;
  color: white;
  border: 2px solid #fff;
  position: fixed;
  top: 70px;
  right: 30px;
  animation: fadein 0.5s;
}

.large {
  width: 360px;
}

.small {
  width: 220px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
